
<nav>
    <ul>
        <li><a href="/home/Index">Home</a></li>
        <li><a href="/home/Sobre">Sobre</a></li>
        <li><a href="/home/Ajuda">Ajuda</a></li>
        <li><a href="/home/Create">Create</a></li>
    </ul>
</nav>